{{define "header"}} 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/public/img/favicon.ico">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/xterm/3.14.5/xterm.js"></script>
    <script src="https://cdn.staticfile.org/xterm/3.14.5/addons/fit/fit.js"></script>
    <link href="https://cdn.staticfile.org/xterm/3.14.5/xterm.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/xterm/3.14.5/addons/fullscreen/fullscreen.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/xterm/3.14.5/addons/fullscreen/fullscreen.js"></script>
    <script src="https://cdn.staticfile.org/marked/0.8.2/marked.min.js"></script>

    <title>NJUPT-WebRTC Remote Control</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/public/img/logo.png" width="120" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/index" id="nav_home">Home</a>
            <a class="nav-item nav-link" href="/doc" id="nav_doc">Doc</a>
          </div>
        </div>
    </nav>

    <script>$("#{{ .nav}}").addClass("active");</script> 
    
{{end}}