{{define "index.html"}}
<!--Embed the header.html template at this location-->
{{ template "header" .}}

<br>
<div style="text-align:center;"><h2>Remote Control over WebRTC</h2></div>
<hr style="background-color: #213F99;width: 100px;margin-left: auto;margin-right: auto;">
<div style="text-align:center;"><p class="lead">基于WebRTC的实时远程控制系统,支持视频监控、远程控制与SSH登录</p></div>

<div class="container"> 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="row">
        <div class="col-9 px-1">
          <div class="dropdown">
            <a class="btn btn-outline-secondary btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              请选择你要连接的设备
            </a>
            <div class="dropdown-menu" style="min-width: 100%" aria-labelledby="dropdownMenuLink" id="devices_list">
              <a class="dropdown-item" href="#" onclick="shows($(this).text())">Action</a>
              <a class="dropdown-item" href="#" onclick="shows($(this).text())">Another action</a>
              <a class="dropdown-item" href="#" onclick="shows($(this).text())">Something else here</a>
            </div>
          </div>
        </div>
        <div class="col-3 px-1"><button type="button" class="btn btn-block btn-primary" onclick="ws_open()" id="connection_btn">连接</button></div>
      </div>
    </div>
  </div>
</div>
      
<script>
    var DevicesList = new Array();
    $(document).ready(function() {
        get_devices();
    });
    
    function get_devices(){
      $("#devices_list").empty();

      $.ajax({
        type:"GET",
        url:"/devices",
        dataType:"json", 
        success:function(data){
            if(data.data == null){
                $("#devices_list").prepend("<a class=\"dropdown-item disabled\" onclick=\"shows($(this).text())\">当前没有设备在线</a>");                            
            }else{
                $.each(data.data, function (index, value) {      
                    DevicesList[value.device_id] = value.using;
                    name = value.device_id +(value.using?"<font color=\"red\">[使用中]</font>":"<font color=\"green\">[可用]</font>");
                    $("#devices_list").prepend("<a class=\"dropdown-item\" onclick=\"shows($(this))\" value=\""+value.device_id+"\">"+name+"</a>");  
                    console.log(name);                   
                });                         
            }
        },
        error:function(jqXHR){
            console.log("Error: "+jqXHR.status);
        }
      });
    }

    function shows(a) {
      //name = a + (DevicesList[a]?"<font color=\"red\">[使用中]</font>":"<font color=\"green\">[可用]</font>");
      $("#dropdownMenuLink").text(a.text());
      $("#dropdownMenuLink").attr("value",DevicesList[a.attr("value")]);
      if(DevicesList[a.attr("value")] == true){
        $("#connection_btn").addClass("disabled");
        $("#connection_btn").attr("disabled", true); 
      }else{
        $("#connection_btn").removeClass("disabled");
        $("#connection_btn").attr("disabled", false); 
      }
    }

    function ws_open(){
      $("#connection_btn").text("断开");
      $("#connection_btn").removeClass("btn_primary");
      $("#connection_btn").addClass("btn-danger");
      $("#connection_btn").attr("onclick","ws_close()");
    }

    function ws_close(){
      $("#connection_btn").text("连接");
      $("#connection_btn").removeClass("btn-danger");
      $("#connection_btn").addClass("btn_primary");
      $("#connection_btn").attr("onclick","ws_open()");
    }
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer" .}}
{{end}}