{{define "index.html"}}
<!--Embed the header.html template at this location-->
{{ template "header" .}}

<br>
<div style="text-align:center;"><h2>Remote Control over WebRTC</h2></div>
<hr style="background-color: #213F99;width: 100px;margin-left: auto;margin-right: auto;">
<div style="text-align:center;"><p class="lead">基于WebRTC的实时远程控制系统,支持视频监控、远程控制与SSH登录</p></div>

<div class="container"> 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="row">

        <div class="col-8 px-0"> 
          <div class="dropdown">
            <button class="btn btn-outline-secondary btn-block dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="overflow:hidden; text-overflow:ellipsis;">请选择你要连接的设备</button>
            <div class="dropdown-menu" style="min-width: 100%" aria-labelledby="dropdownMenuLink" id="devices_list"></div>
          </div>
        </div>

        <div class="col-1 px-0">
          <button type="button" class="btn btn-outline-dark" onclick="getDevices()" id="device_refresh"><i class="fas fa-sync"></i></button>
        </div>

        <div class="col-3 pr-0">
            <button type="button" class="btn btn-block btn-primary disabled" onclick="startSession()" id="connection_btn" disabled>连接</button>
        </div>

      </div>
      <div class="row">
          <div class="col-12 px-1">
            <small id="loger"></small>
          </div>
      </div>
    </div>
  </div>
</div>

{{ template "cards" .}}

<script>
    var DevicesList = new Array();
    var wsClient = null;
    var pc;

    $(document).ready(function() {
        getDevices();
    });
    
    function getDevices(){
      $("#devices_list").empty();
      $("#dropdownMenuLink").text("请选择你要连接的设备");
      $("#dropdownMenuLink").attr("value","");
      var el = document.getElementById('remoteVideo');
      el.srcObject = null;

      $.ajax({
        type:"GET",
        url:"/devices",
        dataType:"json", 
        success:function(data){
            if(data.data == null){
                $("#devices_list").prepend("<a class=\"dropdown-item disabled\" onclick=\"dropdownShow($(this).text())\">当前没有设备在线</a>");                            
            }else{
                $.each(data.data, function (index, value) {      
                    DevicesList[value.device_id] = value.using;
                    name = value.device_id +(value.using?"<font color=\"red\">[使用中]</font>":"<font color=\"green\">[可用]</font>");
                    $("#devices_list").prepend("<a class=\"dropdown-item\" onclick=\"dropdownShow($(this))\" value=\""+value.device_id+"\">"+name+"</a>");  
                    console.log(name);                   
                });                         
            }
        },
        error:function(jqXHR){
            console.log("Error: "+jqXHR.status);
        }
      });
    }

    function dropdownShow(a) {
      //name = a + (DevicesList[a]?"<font color=\"red\">[使用中]</font>":"<font color=\"green\">[可用]</font>");
      $("#dropdownMenuLink").text(a.text());
      $("#dropdownMenuLink").attr("value",a.attr("value"));
      if(DevicesList[a.attr("value")] == true){
        $("#connection_btn").addClass("disabled");
        $("#connection_btn").attr("disabled", true); 
      }else{
        $("#connection_btn").removeClass("disabled");
        $("#connection_btn").attr("disabled", false); 
      }
    }

    function initWebsocket(){
        wsClient = new WebSocket("ws://"+document.location.host+"/offer");
        wsClient.onopen = function() {
            //成功连接到服务器
            console.log("connected to server");
            initWebRTC();
        }
        wsClient.onclose = function(e) {
            btnClose();
            console.log("connection closed (" + e.code + ")");
        }
        wsClient.onmessage = function(e) {
            //服务器发送通知
            //开始处理
            console.log("message received: " + e.data);
            var obj = JSON.parse(e.data);
            if(obj.type == "error"){
                log(obj.msg);
                stopSession();
            }
            if(obj.type == "answer"){
                var remoteSessionDescription = obj.data;
                if (remoteSessionDescription === '') {
                    alert('Session Description must not be empty');
                }

                try {
                    pc.setRemoteDescription(new RTCSessionDescription(JSON.parse(atob(remoteSessionDescription))));
                    btnOpen();
                } catch (e) {
                    alert(e);
                }
            }
        }
    }

    function startSession(){
      initWebsocket();
    }

    function stopSession(){
      wsClient.close();
      btnClose();
    }

    function btnOpen(){
      $("#connection_btn").text("断开");
      $("#connection_btn").removeClass("btn_primary");
      $("#connection_btn").addClass("btn-danger");
      $("#connection_btn").attr("onclick","stopSession()");
      $("#dropdownMenuLink").addClass("disabled");
      $("#dropdownMenuLink").attr("disabled", true); 
      $("#device_refresh").addClass("disabled");
      $("#device_refresh").attr("disabled", true); 
      $("#commandSend").attr("disabled", false);
    }

    function btnClose(){
      $("#connection_btn").text("连接");
      $("#connection_btn").removeClass("btn-danger");
      $("#connection_btn").addClass("btn_primary");
      $("#connection_btn").attr("onclick","startSession()");
      $("#connection_btn").addClass("disabled");
      $("#connection_btn").attr("disabled", true); 
      $("#dropdownMenuLink").removeClass("disabled");
      $("#dropdownMenuLink").attr("disabled", false); 
      $("#device_refresh").removeClass("disabled");
      $("#device_refresh").attr("disabled", false); 
      $("#commandSend").attr("disabled", true);
    }

    audio_flag = true
    var audio_track
    function initWebRTC(){
        pc = new RTCPeerConnection({
            iceServers: [
                {
                urls: 'stun:118.89.111.54:3478'
                }
            ]
        });

        pc.ontrack = function (event) {
          if(audio_flag){
            audio_track = event.track
            audio_flag = false
          }else{
            var el = document.getElementById('remoteVideo')
            //console.log("res_stream:",event.streams)
            res_stream = event.streams[0].clone()
            //console.log("res_stream:",res_stream)
            res_stream.addTrack(audio_track)
            //console.log("res_stream:",res_stream)
            el.srcObject = res_stream
          }
        }

        initDataChannel(pc);

        pc.oniceconnectionstatechange = e => log(pc.iceConnectionState)
        pc.onicecandidate = event => {
            if (event.candidate === null) {
                var localSessionDescription = btoa(JSON.stringify(pc.localDescription));
                var content = new Object();
                content["type"]="offer";
                content["device_id"]=$("#dropdownMenuLink").attr("value");
                content["data"]=localSessionDescription;
                wsClient.send(JSON.stringify(content));
                console.log("localDescription:",btoa(JSON.stringify(pc.localDescription)));
            }
        }

        // Offer to receive 1 audio, and 1 video tracks
        pc.addTransceiver('audio', {'direction': 'sendrecv'})
        pc.addTransceiver('video', {'direction': 'sendrecv'})
        pc.createOffer().then(d => pc.setLocalDescription(d)).catch(log)
    }

    function log(msg){
        $("#loger").html(msg);
    }
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer" .}}
{{end}}